---
import BurguerIcon from "@/icons/BurguerIcon.astro";
import LogoIcon from "@/assets/LogoIcon.astro";
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    href: "/#inicio",
  },
  {
    title: "Sobre el proyecto",
    label: "sobre-el-proyecto",
    href: "/#sobre-el-proyecto",
  },
  {
    title: "Planes",
    label: "planes",
    href: "/#planes",
  },
  {
    title: "Contacto",
    label: "contacto",
    href: "/#contacto",
  },
];
---

<header
  class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto mt-2 gap-4"
>
  <div class="flex items-center justify-start gap-6 min-[375px]:gap-4 lg:gap-0">
    <button
      type="button"
      id="menu-button"
      class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-green-700 dark:stroke-blue-700 text-green-600 dark:text-blue-600 h-6 min-w-[24px] gap-1.5 text-xs p-0 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-green-950 dark:hover:stroke-blue-950 hover:text-green-950 dark:hover:text-blue-950 lg:hidden"
      aria-label="Menu"
    >
      <span>
        <BurguerIcon />
      </span>
    </button>
    <span class="text-3xl text-black font-black dark:text-white text-balance"
      >Herping Zoongolica</span
    >
  </div>

  <!-- Mobile Menu -->
  <div
    id="menu-overlay"
    class="fixed inset-0 bg-black bg-opacity-50 hidden lg:hidden items-center justify-center"
    onclick="closeMenu()"
  >
    <div
      id="menu"
      class="bg-white rounded-lg p-4"
      onclick="event.stopPropagation()"
    >
      <nav
        class="flex px-3 text-sm font-medium rounded-full text-black justify-center items-center"
      >
        {
          navItems.map((link) => (
            <a
              type="button"
              class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-black px-2  h-[38px] min-w-[38px] gap-2 cursor-pointer disabled:stroke-slate-400 disabled:text-slate-400 hover:opacity-80"
              aria-label={link.label}
              href={link.href}
            >
              <span>{link.title}</span>
            </a>
          ))
        }
      </nav>
      <a
        type="button"
        href="https://zongolica.travel"
        rel="noopener noreferrer"
        target="_blank"
        class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-green-600 dark:bg-blue-700 stroke-white text-white hover:bg-green-700 dark:hover:bg-blue-800 hover:scale-105 h-[38px] min-w-[38px] gap-2 disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100 px-4"
      >
        <span>Zongolica.travel</span>
        <LogoIcon class="size-8" />
      </a>
    </div>
  </div>

  <!-- Desktop Menu -->
  <div class="hidden gap-10 md:flex lg:flex">
    <nav
      class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
    >
      {
        navItems.map((link) => (
          <a
            type="button"
            class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-black px-2 text-black dark:text-white h-[38px] min-w-[38px] gap-2 cursor-pointer disabled:stroke-slate-400 disabled:text-slate-400 hover:opacity-80"
            aria-label={link.label}
            href={link.href}
          >
            <span>{link.title}</span>
          </a>
        ))
      }
    </nav>
    <a
      type="button"
      href="https://zongolica.travel"
      rel="noopener noreferrer"
      target="_blank"
      class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-green-600 dark:bg-blue-700 stroke-white text-white hover:bg-green-700 dark:hover:bg-blue-800 hover:scale-105 h-[38px] min-w-[38px] gap-2 disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100 px-4"
    >
      <span>Zongolica.travel</span>
      <LogoIcon class="size-8" />
    </a>
  </div>
  <ThemeToggle />
</header>

<script>
  declare global {
    interface Window {
      closeMenu: () => void;
    }
  }

  document.addEventListener("DOMContentLoaded", (event) => {
    const menuButton = document.getElementById("menu-button");
    const menuOverlay = document.getElementById("menu-overlay");

    if (menuButton && menuOverlay) {
      menuButton.addEventListener("click", () => {
        menuOverlay.classList.toggle("hidden");
        menuOverlay.classList.toggle("flex");
      });

      window.closeMenu = () => {
        menuOverlay.classList.add("hidden");
        menuOverlay.classList.remove("flex");
      };
    }
  });
</script>
<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  #menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
